*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html, body {
  background: $backgroundColor;
  color: $textColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  min-width: 320px;
  tap-highlight-color: rbga(0, 0, 0, 0) !important;
  touch-action: manipulation !important;
}

h1, h2, h3, h4 {
  font-weight: $fontWeightLight;
}

ul {
  padding-left: 0;
}

hr {
  margin: 2rem auto;
}

button {
  background: $buttonBg;
  border: 1px solid #c7c7c7;
  color: $textColor;
  display: inline-block;
  cursor: pointer;
  padding: 10px 2rem;
  /*text-transform: uppercase;*/
  &:hover {
    border-color: $textColor;
    color: $textColor;
    background: transparent;
  }
  &:focus {
    background: rgba(255, 255, 255, .1);
    outline: none;
  }
}
