*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html, body {
  background: $backgroundColor;
  color: white;
  font: $font;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  min-width: 320px;
  tap-highlight-color: rbga(0, 0, 0, 0) !important;
  touch-action: manipulation !important;
}

h1 {
  font-weight: $fontWeightLight;
}
