ul.launchesList {
  list-style-type: none;
  font-size: 0.9rem;
  color: #aaa;
  & li {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #777;
    cursor: pointer;
    & h4 {
      margin: 0;
    }
    &:hover, &.isActive {
      color: $textColor;
    }
  }
}

.launchMenuContainer {
}

ul.agenciesList {
  list-style-type: none;
}
