@lost gutter 0px;

.mainContainer {
  lost-utility: clearfix;
  height: 100vh;
}

aside.aside {
  @media mobile {
    lost-column: 1/4
  }
  @media tablet {
    lost-column: 1/3
  }
}

main.main {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background: #444;
  padding-top: $footerHeight;
  & > div {
    & > * {
      max-width: $medium;
      margin: 0 auto;
    }
  }
  @media mobile {
    lost-column: 3/4;
  }
  @media tablet {
    lost-column: 2/3;
  }
}

.content {
  margin: 0 auto;
  overflow: scroll;
  height: 100vh;
  padding: 2rem;
}

header.header {
  background: #252525;
  top: 0;
  right: 0;
  height: $footerHeight;
  line-height: $footerHeight;
  text-align: center;
  @media mobile {
    lost-column: 3/4;
    left: 25%;
    position: fixed;
  }
  @media tablet {
    left: 33.3%;
    lost-column: 2/3;
  }
}

footer.footer {
  background: #222;
  bottom: 0;
  right: 0;
  height: $footerHeight;
  line-height: $footerHeight;
  text-align: center;
  @media mobile {
    lost-column: 3/4;
    left: 25%;
    position: fixed;
  }
  @media tablet {
    left: 33.3%;
    lost-column: 2/3;
  }
}
