/*  COLORS  */

$backgroundColor: #333;
$textColor: #fafafa;
$primaryColor: #38C0FF;
$secondaryColor: #ff4e4e;
$buttonBg: rgba(255, 255, 255, .03);
$primaryBg: rgba(56, 192, 255, .03);

/*  TYPE */

$fontFamily: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
$fontWeight: 200;
$fontColor: #fff;
$fontSize: 14px;
$fontSize-mobile: 15px;
$fontSize-wide: 15px;
$fontWeightLight: 200;
$fontWeight-normal: 300;
$fontWeightSemi: 400;
$fontWeight-bold: 700;
$fontLineHeight: 1.5;
$font: $fontWeight $fontSize-mobile/$fontLineHeight $fontFamily;


/* MQ */

$small: 481px;
$medium: 769px;
$large: 1181px;
$wide: 1441px;


/* ANIMATION */
$animation: 300ms ease-out;
